/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4553166 */
  src: url('//at.alicdn.com/t/c/font_4553166_76h82h357lh.woff2?t=1716776178962') format('woff2'),
       url('//at.alicdn.com/t/c/font_4553166_76h82h357lh.woff?t=1716776178962') format('woff'),
       url('//at.alicdn.com/t/c/font_4553166_76h82h357lh.ttf?t=1716776178962') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-a-zu12211:before {
  content: "\e601";
}

.icon-a-zu1221:before {
  content: "\e602";
}

.icon-mima1:before {
  content: "\e600";
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-pinpaisheji:before {
  content: "\e73f";
}

.icon-geren:before {
  content: "\e71d";
}

.icon-yanzhengma:before {
  content: "\e660";
}

